input.ng-invalid.ng-touched{
    border: solid red;

}

.top-padding{
    padding-top: 10px;
  }
  
  .margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
  }
  
  .form-container{
    margin: 20px;
  }