<div>
    <form action="">
        <div> 
            <label for="username">Username: </label>
            <input type="text" name="Username" placeholder="Username">
        </div>
        <div> 
            <label for="password">Password: </label>
            <input type="text" name="password" placeholder="Password">
        </div>
        <div>
            <button>Log in</button>
        </div>
        <div>
            Don't have an account? <a routerLink="/singup">Sing up here</a>
        </div>
    </form>
</div>