<app-header></app-header>
<!-- <h1>Hello world</h1>
<h2 *ngIf="flag">Bienvenido {{name}}</h2>


<form (submit)="doOnclick($event)">
    <input name="movie" type="Title" placeholder="Agregar" [(ngModel)]="searchValue">
    <button [disabled]="!searchValue">Agregar</button>
</form> 

<br>

<input type="text" [(ngModel)] = "searchValue" (keyup)="doSearch()" name="filter"> 

<ul>
    <li *ngFor="let movie of filteredMovies">{{movie}}</li>
</ul>   -->

<router-outlet></router-outlet>

<app-footer></app-footer>